In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("linege-stock-data.csv")

In [13]:
df.head()

         date  num_search  stock_price
0  2021-03-21          38       932000
1  2021-03-28          39       834000
2  2021-04-04          36       885000
3  2021-04-11          31       906000
4  2021-04-18          32       894000

## 가설: 검색량의 분산이 높을수록 가격 변화량이 커질것이다.

In [11]:
df[:12].describe()

       num_search    stock_price
count   12.000000      12.000000
mean    30.833333  864416.666667
std      4.569331   33910.197805
min     26.000000  820000.000000
25%     27.000000  846000.000000
50%     29.500000  857000.000000
75%     33.000000  887250.000000
max     39.000000  932000.000000

In [14]:
df[12:24].describe()

       num_search    stock_price
count   12.000000      12.000000
mean    32.083333  793333.333333
std      5.142662   63116.534836
min     24.000000  633000.000000
25%     28.500000  787000.000000
50%     32.500000  810500.000000
75%     35.500000  827250.000000
max     40.000000  853000.000000

In [15]:
df[24:36].describe()

       num_search    stock_price
count   12.000000      12.000000
mean    46.750000  630416.666667
std     24.353924   76139.176791
min     30.000000  560000.000000
25%     30.750000  579250.000000
50%     33.000000  603000.000000
75%     63.250000  640750.000000
max    100.000000  786000.000000

In [16]:
df[36:].describe()

       num_search    stock_price
count   16.000000      16.000000
mean    37.312500  573781.250000
std      6.799203   88514.776309
min     26.000000  452000.000000
25%     33.000000  505625.000000
50%     35.000000  566000.000000
75%     40.250000  646250.000000
max     50.000000  737000.000000

In [23]:
q1_std = df[:12].std()
q2_std = df[12:24].std()
q3_std = df[24:36].std()
q4_std = df[36:].std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [24]:
calss = ["1분기", "2분기", "3분기", "4분기"]

q1_std["num_search"], q1_std["stock_price"],

(4.569331228832933, 33910.19780466512)